---
name: Tests

on:
    pull_request:
        paths-ignore:
            - docs/**
            - news/**
            - '*.md'
    push:
        branches:
            - master
            - main
        paths-ignore:
            - docs/**
            - news/**
            - '*.md'

jobs:
    nox:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, macOS-latest, windows-latest]

        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Set up Python + nox
              uses: wntrblm/nox@2025.10.16
              with:
                  python-versions: '3.13'
            - name: Set up PDM
              uses: pdm-project/setup-pdm@main
              with:
                  python-version: '>=3.13.2'
                  cache: true
            - name: Install dependencies
              run: nox --install-only --verbose
            - name: Run nox
              run: nox
